<main>
    <h1>Scrumptious Recipes</h1>
    <h2 class="animate-eating">
        <span>All</span> <span>the</span> <span>food</span> <span>that's</span> <span>fit</span> <span>to</span> <span>eat</span>
        <div class="mouth"></div>
    </h2>
    <div class="recipes-grid">
        <div class="recipe">
            <div class="recipe-card">
                <h3><a href="detail.html#vegetarian-tacos">Vegetarian Tacos</a></h3>
                <img src="https://mks.io/public-tacos" alt="Vegetarian Tacos">
                <div>4.3 stars</div>
            </div>
        </div>
        <div class="recipe">
            <div class="recipe-card">
                <h3><a href="detail.html#chicken-piccata">Chicken Piccata</a></h3>
                <img src="https://www.saltandlavender.com/wp-content/uploads/2020/02/chicken-piccata-1-1049x1536.jpg" alt="Chicken Piccata">
                <div>4.8 stars</div>
            </div>
        </div>
        <div class="recipe">
            <div class="recipe-card">
                <h3><a href="detail.html#chicken-marsala">Chicken Marsala</a></h3>
                <img src="https://www.onceuponachef.com/images/2018/01/Chicken-Marsala-1150x806.jpg" alt="Chicken Marsala">
                <div>4.7 stars</div>
            </div>
        </div>
        <div class="recipe">
            <div class="recipe-card">
                <h3><a href="detail.html#penne-alla-vodka">Penne alla Vodka</a></h3>
                <img src="https://www.eatingbirdfood.com/wp-content/uploads/2024/01/penne-alla-vodka-with-fork.jpg" alt="Penne alla Vodka">
                <div>4.9 stars</div>
            </div>
        </div>
        <div class="recipe">
            <div class="recipe-card">
                <h3><a href="detail.html#turkey-tri-fecta">Turkey Tri Fecta</a></h3>
                <img src="https://i2.wp.com/www.downshiftology.com/wp-content/uploads/2020/11/Turkey-Recipe-15.jpg" alt="Roast Turkey">
                <div>4.6 stars</div>
            </div>
        </div>
    </div>
</main>
