@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body {
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #227fa4;
    padding: 10px;
    text-align: center;
}

header nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
    flex: 1 0 auto; /* Ensures main takes up available space */
}

h1, h2 {
    text-align: center;
}

h2 {
    font-size: 1.5em;
    margin-top: 1em;
}

h3 {
    font-size: 1.2em;
}

p {
    margin: 0.5em 0;
}

a {
    color: #157594;
    text-decoration: none;
}

a:hover {
    color: green;
}

.recipe img {
    height: 200px;
    width: auto;
}

.detail-page img {
    height: 200px;
    width: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

ol {
    margin: 20px 0;
    padding-left: 20px;
}

ol li {
    margin-bottom: 10px;
}

footer {
    background: #2e7695;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    flex-shrink: 0; /* Ensures footer stays at the bottom */
}

/* New styles for the grid layout */
.recipes-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.recipe {
    text-align: center;
    perspective: 1000px; /* Added perspective to parent enable 3D transforms  */
}

/* Exploding heart animation */
.heart-word {
    position: relative;
    cursor: pointer;
}

.heart-explosion {
    display: none;
    font-size: 2em;
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
    animation: explode 1s forwards;
}

.heart-word:hover .heart-explosion {
    display: block;
}

@keyframes explode {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}


/* Footer positioning: The footer is styled to always stay
 at the bottom of the page using position: absolute; left: 0; right: 0;
 bottom: 0;.
 Font import: Added the @import statement to include the
 "Roboto" font.
 Hover effect: Added a :hover pseudo-class to
 change the color of anchor tags to green.
 Text decoration removal: The text-decoration: none; rule is used to
  remove the underline from anchor tags. */

  /* To ensure the footer stays at the bottom of the viewport even when
  scrolling, you need to use position: fixed; instead of
  position: absolute;. Additionally, you need to add some margin
   at the bottom of the main content to avoid it being covered by
   the footer. */
